/* TODO Add site wide styles */
/*make the navbar go on the bottom*/
/* .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.profile-dropdown{
    position: absolute;
    right: 0;
    top: 0;
} */
